.container-project {
    display: flex;
    flex-direction: column;
    gap: 65px;
    text-align: center;


    .project {

        .slider-container {

            .slick-prev,
            .slick-next {
                display: none !important;
            }

            .custom-next-arrow,
            .custom-prev-arrow {
                display: block !important;
            }


            .slick-img {
                position: relative;

                img {
                    width: 430px;
                    height: 414px;
                    border-radius: 32px;
                }
            }

            span {
                position: absolute;
                z-index: 2;
                padding: 6px 24px;
                background: #FFCC2A;
                color: black;
                border-radius: 50px;
                top: 17px;
                left: 15px;
            }
        }
    }
}