.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);

    .logo {
        display: flex;
        gap: 20px;
        align-items: center;
        cursor: pointer;

        img {
            height: 35px;
            width: 100%;
        }

    }

    .navbar-menu {
        display: flex;
        gap: 20px;

        p {
            cursor: pointer;
        }

        p:hover {
            color: #F58322 !important;
        }
    }

    .navbar-menu-mobile {
        display: none;
    }
}

@media(max-width : 700px) {
    .container-header {
        width: 100vw;
        padding: 15px 26px;

        .logo {
            img {
                height: 29px;
                width: 160px;
                object-fit: cover;
            }
        }

        .navbar-menu {
            display: none;
        }

        .navbar-menu-mobile {
            display: flex;
            box-shadow: #F58322;

            .menu-button {
                background: white;
                border: 1px solid white;

                svg {
                    width: 1em;
                    height: 1em;
                    font-size: 23px;
                    color: gray;
                }
            }

            .menu-list {
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 135px;
                background: white;
                border-radius: 12px;
                padding: 10px 5px;

                button {
                    background: white;
                    border: 1px solid white;
                    border-radius: 10px;
                }

                .item:hover {
                    color: #F58322 !important;
                }
            }

        }
    }

}