.container-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;


    .logo {
        display: flex;
        gap: 20px;
        align-items: center;

        img {
            height: 50px;
            width: 50px;
        }

    }

    .navbar-menu {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}