.product-catalog {
  padding: 40px 0;
  background-color: #f97316;

  .catalog-header {
    text-align: center;
    margin-bottom: 20px;

    h2, h1 {
      font-size: 2.5rem;
      color: white;
      font-weight: 700;
    }

    p {
      color: white;
      font-size: 1.1rem;
    }
  }

  .category-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;

    .category-btn {
      background: none;
      border: none;
      padding: 10px 18px;
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      position: relative;

      .underline {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        width: 0;
        background: white;
        transition: 0.3s;
      }

      &:hover {
        color: #fff;

        .underline {
          width: 70%;
        }
      }

      &.active {
        color: #fff;

        .underline {
          width: 100%;
        }
      }
    }
  }

  .catalog-container{
    padding: 10px 20px;
  }
}
