.container-foot {
    background: #F48222;
    padding: 5px;

    .text-foot {
        display: flex;
        justify-content: center;

        p {
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            color: white;
        }
    }
}